.average__session__graph {
	width: 30.87%;
	height: 100%;
	background-color: var(--secondary-color-light);
	border-radius: 5px;
}

.average__session__graph h3 {
	position: absolute;
	margin-left: 1rem;
	margin-top: 1rem;
	font-size: 15px;
	font-weight: 500;
	line-height: 24px;
	max-width: 147px;
	color: rgba(255, 255, 255, 0.5);
}

.recharts-cartesian-axis-line,
.recharts-cartesian-axis-tick-line {
	stroke: none;
}

.recharts-tooltip-wrapper,
.recharts-tooltip-wrapper:hover {
	border: none;
	outline: none;
}

.custom__tooltip__average {
	background: var(--tertiary-color);
	color: var(--quaternary-color);
	padding: 5px;
	text-align: left;
	width: 39px;
	height: 25px;
}

.tooltip__details__average {
	margin: 5px 5px;
}

.tooltip__details__average .label__average {
	color: var(--quaternary-color);
	font-size: 8px;
	font-weight: 500;
}
