:root {
	--primary-color: #020203;
	--secondary-color: #ff0101;
	--secondary-color-light: #ff0000;
	--tertiary-color: #ffff;
	--quaternary-color: #282d30;
	--quinary-color: #c4c4c4;
	--senary-color: #9c27b0;
	--septenary-color: #fbfbfb;
	--octonary-color: #74798c;
}
